# Default ignored files
/shelf/
/.idea/workspace.xml
.idea/workspace.xml
**/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
**/target/
*.log

**/__pycache__/
.idea/httpRequests/
backend/production/

# pentru .net
**/bin/
**/obj/
Plugins/*

